* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lato", sans-serif;
  src: url(./font/Lato-Regular.ttf);
}
:root {
	--primary: #ae7efe;
	--black: #000000;
	--white: #f9f9f3;
  --orange:#ff9f55;
}

body {
  font-family: "Lato", sans-serif;
}
h1 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
  font-size: 2.5rem;
  margin: 0.5rem;
}
h2 {
  font-weight: 400;
  line-height: 1.2;
  margin: 10px 0;
  font-size: 2rem;
}
p {
  margin: 10px 0;
  font-size: 18px;
}

/* header css here */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
}

.header {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 999;
  height: 70px;
  text-align: center;
  font-family: sans-serif;
  background: linear-gradient(
    60deg,
    rgba(84, 58, 183, 1) 0%,
    rgba(0, 172, 193, 1) 100%
  );
  color: #ffffff;
}

nav {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  padding: 10px 30px;
  gap: 27%;
}

.logo a {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

.logo a span {
  color: #8739fa;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu a {
  display: block;
  padding: 7px 15px;
  font-size: 17px;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
  color: #fff;
}

.menu:hover a {
  opacity: 0.4;
}

.menu a:hover {
  opacity: 1;
  color: #fff;
}

.menu-icon {
  display: none;
}

#menu-toggle {
  display: none;
}

#menu-toggle:checked ~ .menu {
  transform: scale(1, 1);
}

@media only screen and (max-width: 1010px) {
  .menu {
    flex-direction: column;
    background: linear-gradient(
      60deg,
      rgba(84, 58, 183, 1) 0%,
      rgba(0, 172, 193, 1) 100%
    );
    align-items: start;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    z-index: 1;
    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }

  .menu a {
    margin-left: 12px;
  }

  .menu li {
    margin-bottom: 10px;
  }

  .menu-icon {
    display: block;
    color: #fff;
    font-size: 28px;
    cursor: pointer;
  }
  nav {
    justify-content: space-between;
    gap: 0;
  }
}
/* <!-- video css --> */
main {
  width: 100%;
  position: relative;
  height: 100%;
}
.go-down svg {
  border: 1px solid #000;
  border-radius: 3px;
  bottom: 20px;
  box-shadow: 0 2px 5px #8e8e8e;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.video {
  height: 93vh;
  object-fit: cover;
}
/* <!-- video css --> */
/* <!-- about css --> */
.about {
  text-align: center;
  width: 100%;
  padding: 30px 0;
  max-width: 70%;
  margin: 0 auto;
}
.grid-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
  padding-top: 10px;
}
.about_card svg {
  width: 130px;
  height: 130px;
}
.about_card {
  margin: 18px 0 20px;
  transition: transform 0.2s ease-out;
}
.about_card:hover {
  transform: translateY(-15px);
}
.about_btn {
  display: flex;
  justify-content: space-around;
}
.about_btn_sub a {
  color: #000;
  border: 2px solid #3cf;
  padding: 5px 20px;
  border-radius: 3px;
}
.about_btn_sub a:hover {
  background: #000;
  border: 2px solid #000;
  border-radius: 3px;
  color: #fff;
}
.about {
  position: relative;
}
.go-down_about svg {
  border: 1px solid #000;
  border-radius: 3px;
  bottom: 20px;
  box-shadow: 0 2px 5px #8e8e8e;
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 35px;
  height: 35px;
}
.go-down_about path {
  color: #000;
}
@media only screen and (max-width: 1024px) {
  h2 {
    font-size: 1.5rem;
  }
  p {
    font-size: 14px;
  }
}
@media only screen and (max-width: 900px) {
  .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 767px) {
  .grid-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* <!-- Why Creative? --> */
.creative {
  background: url(https://ik.imagekit.io/thjko7wmg4v/images/For-Last-part-Patch-opt.webp);
  padding-top: 52px;
  padding-bottom: 53px;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
}
.creative h1{
  color: #fff;
}
.creative-container {
  min-height: 500px;
  padding-top: 110px;
  color: #fff;
  text-align: center;
  position: relative;
  width: 945px;
  margin: 0 auto;
}
.creative-box {
  position: absolute;
  width: 175px;
  height: 175px;
  border: 2px solid transparent;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.creative-box:hover {
  border-color: #3cf;
}
.creative-box::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border: 2px solid #fff;
  background-repeat: no-repeat;
  background-position: 15% 85%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.creative-box:hover::before {
  background-color: #f54f36;
  border-color: #3cf;
}
.creative-content {
  position: absolute;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 100%;
  top: 50%;
  left: 50%;
  margin-left: -79px;
  margin-top: -74px;
}
.creative-two {
  left: 130px;
  top: 240px;
}
.creative-three {
  left: 260px;
}
.creative-four {
  top: 240px;
  left: 390px;
}
.creative-five {
  left: 520px;
}
.creative-six {
  top: 240px;
    left: 650px;
}
.creative-seven {
  left: 780px;
}

@media only screen and (max-width: 1200px) {
.creative-container{
  display: grid;
    grid-template-columns: 1fr 1fr;
}
.creative-container{
  min-height: 100%;
  width: 100%;
}
.creative-box {
  position: static;
  width: 100%;
  transform: rotate(0deg);
}
.creative-content{
  transform: rotate(0deg);
  position: static;
  margin: 0;
  margin: 34px 0;
}
}

@media only screen and (max-width: 767px) {
  .creative-container{
    min-height: 100%;
    width: 100%;
    display: block;
  }
  .creative-box {
    position: static;
    width: 100%;
    transform: rotate(0deg);
  }
  .creative-content{
    transform: rotate(0deg);
    position: static;
    margin: 0;
    margin: 34px 0;
  }

  
}
.competencies{
  text-align: center;
}

/* <!-- Why Creative? --> */
.box_comp{
  background: #fff none repeat scroll 0 0;
    border: medium none;
    padding: 10px 20px 30px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.box_comp h3,.box_comp p{
  color: #000;
  padding-top: 10px;
  margin: 0;
}
.box_comp::after{
  background: #000 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: -100%;
    position: absolute;
    top: 0;
    transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -ms-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
    width: 100%;
    z-index: -1;
}
.box_comp:hover::after{
  left: 0;
}
.box_comp svg{
  height: 100px;
    text-align: center;
    width: 100px;
    z-index: 1;
    fill: none;
    stroke: #0099cc;
    padding-top: 20px;
    stroke-width: 2px;
}
.box_comp:hover p,.box_comp:hover h3{
  color: #fff;
  stroke: #ffffff;
}
.box_comp:hover svg{
  stroke: #ffffff;
  
}
.grid-comp{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
}
@media only screen and (max-width: 767px) {
  .grid-comp{
    grid-template-columns: repeat(1,1fr);
  }
}
/* career */
.careers{
  background: url(https://ik.imagekit.io/thjko7wmg4v/2015/wp-content/uploads/2015/01/bg17-1024x341-opt.webp) repeat;
    background-attachment: scroll;
    background-size: auto;
    background-size: cover;
    background-attachment: fixed;
    /* height: 370px; */
    padding-top: 52px;
    padding-bottom: 70px;
    color: #fff;
    text-align: center;
}
.careers .about_btn_sub a{
  color: var(--white);
}
.careers h3{
  font-size: 2rem;
}
.careers p{
  padding-bottom: 30px;
}

/* timeline css */

.timeline_block{
  background: url(./images/bg17-opt.webp);
    background-attachment: scroll;
    background-size: auto;
    padding-top: 52px;
    background-size: cover!important;
    background-attachment: fixed!important;
    text-align: center;
}



.timeline {
	position: relative;
	max-width: 1025px;
	margin: 0 auto;
}
.timeline::after {
	content: "";
	position: absolute;
	width: 6px;
	background-color: var(--white);
	top: 0;
	bottom: 0;
	left: 50%;
}
.timeline_block .container {
	padding: 10px 40px;
	position: relative;
	background-color: inherit;
	width: 50%;
}

.container::after {
	content: "";
	position: absolute;
	width: 25px;
	height: 25px;
	right: -17px;
	background-color: var(--white);
	border: solid 2px var(--orange);
	top: 15px;
	border-radius: 50%;
	z-index: 1;
}
.left {
	left: 0;
}
.right {
	left: 50%;
}
.left::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	right: 30px;
	border: medium solid var(--black);
	border-width: 10px 0 10px 10px;
	border-color: transparent transparent transparent var(--black);
}
.right::before {
	content: " ";
	height: 0;
	position: absolute;
	top: 22px;
	width: 0;
	z-index: 1;
	left: 30px;
	border: medium solid var(--black);
	border-width: 10px 10px 10px 0;
	border-color: transparent var(--black) transparent transparent;
}
.right::after {
	left: -12px;
}
.content {
	padding: 20px 30px;
	background-color: var(--black);
	position: relative;
	border-radius: 8px;
  text-align: left;
}
.content h2,.content p{
  color: var(--white);

}
.content p{
  font-size: 18px;
}
@media screen and (max-width: 600px) {
	.timeline::after {
		left: 31px;
	}
	.timeline_block .container {
		width: 100%;
		padding-left: 70px;
		padding-right: 25px;
	}
	.timeline_block .container::before {
		left: 60px;
		border: medium solid var(--white);
		border-width: 10px 10px 10px 0;
		border-color: transparent var(--white) transparent transparent;
	}
	.left::after,
	.right::after {
		left: 15px;
	}
	.right {
		left: 0%;
	}
}

/* dropdown */
input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.collapsible-accordion {
  margin: 10px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}
.collapsible-item-label {
  display: flex;
  gap: 8px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  background: transparent;
  color: #fff;
  font-size: 17px;
}
.collapsible-item-label::after {
  content: "\023F7";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.collapsible-item-content {
  max-height: 0;
  padding: 0 1em;
  background: transparent;
  transition: all 0.35s;
  color: var(--white);
}
input:checked + .collapsible-item-label::after {
  transform: rotate(180deg);
}
input:checked ~ .collapsible-item-content {
  max-height: 100vh;
  padding: 0rem 1rem;
}
footer{
  background-color: var(--black);
}
.footer{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  
}
.rfq{
  color: var(--white);
  padding:0 30px;
}
.rfq p{
  margin-bottom: 2rem;
  font-size: 13px;
}
.cta_button1{
  text-decoration: none;
    color: #fff;
    background: transparent;
    border-radius: 3px;
    border: 2px solid;
    padding: 9px 28px;
}
.footer li{
  list-style-type: disc;
  list-style-position: inside;
}
.connecct{
  padding: 0 30px;
}
.connecct svg{
  width: 35px;
  height: 35px;
}

.connecct p{
  color: var(--white);
}
.footer_text{
  text-align: center;
  color: var(--white);
  background-color: var(--black);
  padding: 1rem;
}
.footer_text p{
  margin: 0;
}
footer svg{
  color: var(--white);
}
@media screen and (max-width: 900px) {
.footer{
  grid-template-columns: repeat(1,1fr);
  gap: 20px;
}
.connecct{
  padding-bottom: 30px;
}
}
